<div class="row center">
    <h3 class="col s6 offset-s3">Доступные товары</h3>
</div>

{{#if courses.length}}
<div class="flex">
{{#each courses}}
        <div class="card">
            <div class="card-image">
                <img src="{{img}}" alt="{{title}}">
            </div>
            <div class="card-content center">
                <span class="card-title">{{title}}</span>
                <b class="price">{{price}}</b>
            </div>
            <div class="card-action actions">
                <a href="/courses/{{id}}" target="_blank">Подробности</a>
                <a href="/courses/{{id}}/edit?allow=true">Редактировать</a>
                <form action="/card/add" method="POST">
                    <input type="hidden" name="id" value="{{id}}">
                    <button type="submit" class="btn btn-primary">Купить</button>
                </form>
            </div>
        </div>


{{/each}}
</div>
{{else}}
<p>Курсов пока нет...</p>
{{/if}}